@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");
.vbox {
  display: flex;
  flex-direction: column;
}

.hbox {
  display: flex;
  flex-direction: row;
}

.cvbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.small-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-color: #a00037;
  border-radius: 10px;
  color: #ffffff;
  height: 20vw;
  width: 25vw;
}
.small-card h2 {
  background-color: #d81b60;
  font-size: 1.5vw;
  font-weight: normal;
  padding: 0.5em;
  width: 100%;
}
.small-card p {
  font-size: 1vw;
  height: 100%;
  margin-top: 0.5em;
  padding: 0;
  width: 100%;
}

.large-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  background-color: #a00037;
  border-radius: 12px;
  color: #ffffff;
  height: 40vw;
  width: 40vw;
}
.large-card h2 {
  background-color: #d81b60;
  font-size: 2vw;
  font-weight: bold;
  padding: 0.5em;
  width: 100%;
}
.large-card p {
  font-size: 1.5vw;
  height: 100%;
  margin-top: 1.5em;
  padding: 0.5em;
  width: 100%;
}
.large-card h4 {
  font-size: 1.5vw;
  font-weight: normal;
  margin: 1em;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.3);
  color: #000000;
  justify-content: center;
  margin: auto;
  padding: 1.5em 2.5em 2.5em 2.5em;
  text-align: center;
  width: 50vw;
  height: 60vw;
}
#form h1 {
  font-size: 2vw;
  font-weight: normal;
  width: 100%;
}
#form input {
  background-color: #e0e0e0;
  border: none;
  border-radius: 8px;
  color: #000000;
  font-size: 1.5vw;
  margin: 1em;
  outline: none;
  padding: 0.5em;
  width: 100%;
}
#form textarea {
  background-color: #e0e0e0;
  border: none;
  border-radius: 8px;
  color: #000000;
  font-size: 1.5vw;
  margin: 1em;
  outline: none;
  padding: 0.5em;
  width: 100%;
  resize: none;
}
#form h4 {
  background-color: #e0e0e0;
  border: none;
  border-radius: 8px;
  color: #000000;
  font-size: 1.5vw;
  margin: 1em;
  outline: none;
  padding: 0.5em;
  width: 100%;
  background-color: #d81b60;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  font-weight: normal;
  margin: 0.5em 0 0 0;
  width: 40%;
}

.fab {
  align-items: center;
  background-color: #d81b60;
  border-radius: 360px;
  box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  display: flex;
  height: 60px;
  justify-content: center;
  text-align: center;
  width: 60px;
}

.fab-icon {
  height: 40px;
  width: 40px;
}

.fab-sm-icon {
  height: 35px;
  width: 35px;
}

.fab-label-bg {
  background-color: #d81b60;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 1.5vw;
  max-width: 10vw;
  padding: 0.25em;
  text-align: center;
  width: 10vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  height: 100%;
  width: 100%;
}

.header {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
