@use "buttons";
@use "containers";
@use "theme";

$card-content-fz-diff: 0.5vw;
$large-card-header-fz: 2.5vw;
$small-card-header-fz: 1.5vw;
$card-roundness: 10px;

@mixin card(
    $header-fw: normal,
    $header-fz,
    $text-content-fz,
    $text-content-mg: 0,
    $text-content-pd: 0,
    $header-radius: 0
) {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;

    h2 {
        background-color: theme.$secondaryColor;
        border-radius: $header-radius $header-radius 0px 0px;
        font-size: $header-fz;
        font-weight: $header-fw;
        padding: 0.5em;
        width: 100%;
    }

    p {
        font-size: $text-content-fz;
        height: 100%;
        margin-top: $text-content-mg;
        padding: $text-content-pd;
        width: 100%;
    }
}

.small-card {
    @include card(
        $header-fz: $small-card-header-fz,
        $text-content-fz: $small-card-header-fz - $card-content-fz-diff,
        $text-content-mg: 0.5em,
        $header-radius: $card-roundness
    );

    background-color: theme.$secondaryDarkColor;
    border-radius: $card-roundness;
    color: theme.$primaryLightColor;
    cursor: pointer;
    position: relative;
    height: 20vw;
    width: 25vw;
}

.large-card {
    @include card(
        $header-fw: bold,
        $header-fz: $large-card-header-fz,
        $text-content-fz: $large-card-header-fz - $card-content-fz-diff,
        $text-content-mg: 1.5em,
        $text-content-pd: 0.5em
    );

    background-color: theme.$secondaryDarkColor;
    border-radius: $card-roundness;
    color: theme.$primaryLightColor;
    height: 40vw;
    width: 40vw;

    h4 {
        font-size: 1.5vw;
        font-weight: normal;
        margin: 1em;
    }
}

.form-control {
    background-color: theme.$primaryColor;
    border: 0px solid theme.$primaryColor;
    border-radius: 8px;
    color: theme.$primaryTextColor;
    font-size: 1.5vw;
    margin: 0;
    outline: none;
    padding: 0.5em;
    width: 100%;
}

#post-form-title {
    bottom: 0.8em;
    font-size: $large-card-header-fz;
    font-weight: normal;
    position: relative;
    width: 100%;
}

.post-form {
    @include containers.box($direction: column);

    align-items: center;
    background-color: theme.$primaryLightColor;
    border-radius: 12px;
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.3);
    color: theme.$primaryTextColor;
    height: 46.8vw;
    justify-content: space-evenly;
    margin: auto;
    padding: 1em 2.25em;
    text-align: center;
    user-select: none;
    width: 50vw;

    textarea {
        resize: none;
    }
}

@media (max-width: 820px) {
    #post-form-title {
        font-size: 3.5vw;
    }

    .small-card {
        height: 25vw;
        width: 30vw;
    }

    .large-card {
        width: 45vw;
        height: 45vw;
    }

    .large-card h2 {
        font-size: 3.5vw;
    }

    .large-card h4 {
        font-size: 2vw;
    }

    .small-card h2 {
        font-size: 2vw;
    }

    .large-card p {
        font-size: 3.5vw - $card-content-fz-diff;
    }

    .small-card p {
        font-size: 2vw - $card-content-fz-diff;
    }

    .form-control {
        font-size: 2vw;
    }

    .post-form {
        height: 50vh;
        width: 70vw;
    }
}

@media (max-width: 411px) {
    #post-form-title {
        font-size: 6.5vw;
    }

    .small-card {
        height: 30vw;
        width: 35vw;
    }

    .large-card {
        width: 50vw;
        height: 50vw;
    }

    .large-card h2 {
        font-size: 4.5vw;
    }

    .large-card h4 {
        font-size: 2vw;
    }

    .small-card h2 {
        font-size: 3vw;
    }

    .large-card p {
        font-size: 4.5vw - $card-content-fz-diff;
    }

    .small-card p {
        font-size: 3vw - $card-content-fz-diff;
    }

    .form-control {
        font-size: 4.8vw;
    }

    .post-form {
        height: 80vh;
        width: 100vw;
    }
}
