@use "buttons";
@use "containers";
@use "theme";

$card-content-fz-diff: 0.5vw;
$large-card-header-fz: 2.5vw;
$small-card-header-fz: 1.5vw;
$card-roundness: 10px;

@mixin card(
    $header-fw: normal,
    $header-fz,
    $text-content-fz,
    $text-content-mg: 0,
    $text-content-pd: 0,
    $header-radius: 0
) {
    @include containers.centeredBox($direction: column);

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    text-align: center;

    h2 {
        background-color: theme.$secondaryColor;
        border-radius: $header-radius $header-radius 0px 0px;
        font-size: $header-fz;
        font-weight: $header-fw;
        padding: 0.5em;
        width: 100%;
    }

    p {
        font-size: $text-content-fz;
        height: 100%;
        margin-top: $text-content-mg;
        padding: $text-content-pd;
        width: 100%;
    }
}

.small-card {
    @include card(
        $header-fz: $small-card-header-fz,
        $text-content-fz: $small-card-header-fz - $card-content-fz-diff,
        $text-content-mg: 0.5em,
        $header-radius: $card-roundness
    );

    background-color: theme.$secondaryDarkColor;
    border-radius: $card-roundness;
    color: theme.$primaryLightColor;
    cursor: pointer;
    height: 20vw;
    position: relative;
    width: 25vw;
}

.large-card {
    @include card(
        $header-fw: bold,
        $header-fz: $large-card-header-fz,
        $text-content-fz: $large-card-header-fz - $card-content-fz-diff,
        $text-content-mg: 1.5em,
        $text-content-pd: 0.5em
    );

    background-color: theme.$secondaryDarkColor;
    border-radius: $card-roundness;
    color: theme.$primaryLightColor;
    height: 40vw;
    width: 40vw;

    h4 {
        font-size: 1.5vw;
        font-weight: normal;
        margin: 1em;
    }
}

@mixin form-control {
    background-color: theme.$primaryColor;
    border: none;
    border-radius: 8px;
    color: theme.$primaryTextColor;
    font-size: 1.5vw;
    margin: 0;
    outline: none;
    padding: 0.5em;
    width: 100%;
}

.post-form {
    @include containers.box($direction: column);

    align-items: center;
    background-color: theme.$primaryLightColor;
    border-radius: 12px;
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.3);
    color: theme.$primaryTextColor;
    height: 46.8vw;
    justify-content: space-around;
    margin: auto;
    padding: 1em 2.25em;
    text-align: center;
    user-select: none;
    width: 50vw;

    h1 {
        bottom: 0.8em;
        font-size: $large-card-header-fz;
        font-weight: normal;
        position: relative;
        width: 100%;
    }

    input {
        @include form-control;
    }

    textarea {
        @include form-control;
        resize: none;
    }

    h4 {
        @include form-control;
        @include buttons.squareButton();
    }
}
