$primaryColor: #e0e0e0;
$primaryDarkColor: #aeaeae;
$primaryLightColor: #ffffff;
$primaryTextColor: #000000;
$secondaryColor: #d81b60;
$secondaryDarkColor: #a00037;
$secondaryLightColor: #ff5c8d;
$secondaryTextColor: #ffffff;
